<% include header %>
<div class="container">

  <h1>Dashboard</h1>
  <p align="center">
    <div id="gauge" style="width:200px;height:160px"></div>
    Last update: <div id="timestamp">n/a</div>
  </p>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/raphael.2.1.0.min.js"></script>
<script src="/js/justgage.1.0.1.min.js"></script>
<script>
  var g;
  var socket = io.connect('http://<%=server%>:<%=port%>');


  window.onload = function() {
    g= new JustGage({
      id: "gauge", 
      value: 0, 
      min: 0,
      max: 100,
      title: "Foo"
    });
  };

  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });

  socket.on('sensor_update', function(data) {
    console.log("Received: " + JSON.stringify(data.sensor));
    //        console.log("div: " + $("div#m1_value").text());
    for(var key in data.sensor["value"]) {
      measurement=data.sensor["value"][key.toString()];
      timestamp=key;
      var date = new Date(timestamp*1000);
      g.refresh(measurement);
      $("div#timestamp").text(date.getHours() +":" + date.getMinutes() +
      ":" + date.getSeconds());
    }
  });
</script>

<% include footer %>
